header {
    background-color: #FA9C1D;
    padding: 10px;
}

header h1 {
    margin: 0;
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: white;
    text-align: center;
}
h2 {
    color: white;
}
h3 {
    color: white;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1A3C4E;
}

.navBar {
    overflow: hidden;
    background-color: white;
}

.navBar a {
    float: left;
    color: #1A3C4E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

.navBar a.active {
    background-color: #1A3C4E;
    color: white;
}

.navBar a:hover {
    background-color: lightgrey;
    color: white;
}
